# Maven / Java
target/
*.jar
*.war
*.ear
*.class

# Wrapper
.mvn/timing.properties
.mvn/wrapper/dists/

# IDE
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# Docker
pgdata/

# Node (se houver frontend)
node_modules/
dist/

# Testes
/build/
