services:
  db:
    image: postgres:16
    container_name: salus_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: salus_api
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    ports:
      - 8081:8081
    depends_on:
      - db

  frontend:
    build: ../frontend
    container_name: salus_frontend
    ports:
      - "3000:80"
    depends_on:
      - api


volumes:
  pgdata: